img {
    height: 60px;
    width: 60px;
}
#explore-btn{
    font-family: 'Libre Baskerville', serif;
}
.btn-link {
    font-family: 'Libre Baskerville', serif;
}
.card-title{
    font-family: 'Libre Baskerville', serif;
}
label {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.btn-info{
    font-family: 'Libre Baskerville', serif;
}

#home-page {
  background: url("/static/images/travel-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#go-explore{
    position : absolute;
    top: 430px;
    left: 550px;
}


