img {
    height: 60px;
    width: 60px;
}
#explore-btn{
    font-family: 'Libre Baskerville', serif;
}
.btn-link {
    font-family: 'Libre Baskerville', serif;
}
.card-title{
    font-family: 'Libre Baskerville', serif;
}
label {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}
.btn-info{
    font-family: 'Libre Baskerville', serif;
}


.img-fluid{
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}
.card {
    margin: auto;
    margin-top: 20px;
}
#home-page {
  background: url("/static/images/travel-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#go-explore{
    position : absolute;
    top: 430px;
    left: 550px;
}




.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  #autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    border: 2px solid -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    height: 25px;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }