{% extends "base.html" %}

{% block content%}
<body>
    <div class="container"> 
        <div class="row"> 
            
            <script type="text/javascript">
                function test_func(data) {
                    return data
                }
                worldcities = test_func({{ worldcities|safe }})
            </script>
    {% for place in places %}
    <div class="col-lg-4 col-md-6 col-12">
    <div class="card " style="width: 350px;" id="{{place['place']}}">
        <div>
            <img src="{{place['image_url']}}" class="card-img-top img-fluid" alt="{{place['place']}}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{place['place'].replace("--",",").replace("-", " ")}}</h5>
                <form method="POST" autocomplete="off"
                action= "/trips/s">
                    {{ form.csrf_token }}
                    <div class='input-group'>
                        <label for="origin">From &nbsp; </label> 
                        <input class='form-control autocomplete' type='text' name='origin'>
                        <br>
                        <br>
                    </div>
                    <input type="text" hidden="true" name = "destination" value="{{place['place']}}">
                    {% for field in form
                        if field.widget.input_type != "hidden" and field.name!="origin" %}

                        <p>
                            {{ field.label }}
                            {{ field }}
                            
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </p>
                        
                        {% endfor %}
                    </div>
                    <button class=" btn btn-info btn-sm">Plan My Trip!</button>
                </form>
        
            </div>
    </div>
    {% endfor %}
        
    </div>
        </div>
            </div>
                

    </body>
{% endblock %}







